<!DOCTYPE html>
<html ng-app="app">

<head>
  <link data-require="bootstrap-css@*" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body ng-controller="tempController">
  <h1>Temperature Monitor</h1>
  <form>
    <label for="temperture">Add Temperture:</label>
    <input name="temperture" id="temperture" ng-model="temperature">
    <button ng-click="recordTemperature()">Add</button>
  </form>
  <hr />
  <section>
    <button ng-click="getCurrentMedian()">Get Median Temperture</button>
    Current Median:{{len}}
    <!-- display current media here-->
  </section>
  <hr>
  <hr>
  <p>developer name:Sheri Sharath Reddy</p>

  <hr>
  <a href="jasmine-test-runner.html">Run Unit Tests</a>
  <script data-require="angular.js@*" data-semver="1.3.5" src="https://code.angularjs.org/1.3.5/angular.js"></script>
  <script src="app.js"></script>
</body>

</html>
